.container{
    display: grid;
    
    grid-template: 100px / 25% 25%; /* Primero filas, luego columnas*/
    grid-gap: 10px 10px;
}

.item{
    padding: 20px;
    background-color: bisque;
    text-align: center;
}
